@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    A-63 Dream City opposite of Noida college of physical education<br />
    Dhoom manikpur dadri, Gautam budh nagar, UP, India<br />
    <abbr title="Phone">Phone:</abbr>
    +91 7428531085 +91 8377054860
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:developeryogi20@gmail.com">developeryogi20@gmail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:yogi-20@live.com">yogi-20@live.com</a>
</address>